/* src/index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #000; /* fallback until theme is ready */
  color: #ffffff;
}